.social-links {
  display: flex;
  gap: .6rem;
}

.social-links button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.social-links.light button {
  color: #4a5568;
}
.social-links.dark button {
  color: #e2e8f0;
}
